@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, 'sans-serif';
  background-color: #cccccc;
}

header {
  font-style: italic;
  text-align: center;
  border-bottom: 5px solid #4F5B93;
}

header .date {
  padding: 0.5em;
  font-size: 0.8em;
  background-color: #4F5B93;
  color: #cccccc;
}

header .main {
  background-color: #8892BF;
  align-content: center;
  display: flex;
  justify-content: center;
  line-height: 2em;
  font-size: 2em;
  padding: 0.5em;
  font-weight: 500;
}

header .main img {
  height: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 10px;
}

section.intro {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 1em;
  text-align: center;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  background-color: #f2f2f2;
  box-shadow: 6px 6px 0 0 #666666;
}

h1,
h2,
h3 {
  padding-bottom: 3px;
  border-bottom: 3px dotted #cccccc;
}

h2 {
  border-bottom-width: 3px;
}

h3 {
  border-bottom-width: 2px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #4F5B93;
  padding: 0.5em;
}

td:first-of-type,
th:first-of-type {
  text-align: right;
}

th {
  text-align: left;
}

@media screen and (max-width: 500px) {
  header .date {
    display: none;
  }

  header .main {
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: bold;
    display: block;
  }

  header .main .rest {
    display: block;
  }
}
